/* Mobile Screen */

label {
    font-size: clamp(1rem, 1rem + 1vw, 1rem);
}

.buttons label {
    font-size: clamp(0.7rem, 0.7rem + 1vw, 1rem);
}


.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 90%;
    width: 100%;
    scroll-snap-align: start;
    padding: 5px;
    box-sizing: border-box;
    /* background-color: aqua; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    gap: 20px;

}

.project .splineContainer {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.project .imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.project .landscape {
    width: 100%;
    height: auto;
    object-fit: contain; 
}

.project .portrait {
    width: auto;
    height: 100%;
    object-fit: contain; 
}

.project .text {
    width: 100%;
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
}




.project .title {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
}

.project .description {
    overflow-y: auto;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 10px;
}

.buttons div {
    cursor: pointer;
    scale: 1;
    transition: scale 0.2s ease-in, background-color 0.2s ease-in;
    padding: 5px 10px;
    border-radius: 5px;
}

.buttons div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    scale: 1.05;
}


.buttons {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.visitButton {
    width: 100%;
    box-sizing: border-box;
    bottom: 0px;
}

/* Media Queries */

/* Smaller screens (default mobile-first approach) */
@media screen and (max-width: 359px) {
    .text {
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
}

/* Larger mobile screens */
@media screen and (min-width: 360px) and (max-width: 479px) {
    .text {
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
}

/* Tablet and above */
@media screen and (min-width: 480px) {

    .content {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .project .imageContainer {
        width: 60%;
        height: 90%;
    }

    .project .text {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        gap: 10px;
        text-align: center;
    }
}
