.container {
    background-color: green; /* or 'brown' for About */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* or 'center' for different alignment needs */
}   