.container {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    padding-bottom: 0;
}

.active {
    color: red;
}


.component {
    background-color: white;
    box-shadow: var(--box-shadow);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-left: 10px;
}

.left img {
    height: 60px;
    
}

.left a {
    cursor: pointer;
}

.right {
    display: none;

}

.rightMobile {
    display: block;
    margin-right: 10px;

}

.rightMobile button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.showMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: var(--box-shadow);
    margin: 10px;
    border-radius: 10px;
}

.showMenu a {
    padding: 10px;
    text-align: center;
}

.active {
    color: red;
}



/* Tablet and above */
@media screen and (min-width: 480px) {

    .left {
        margin-left: 20px;
        justify-content: flex-start;
        align-items: center;
    }


    .right {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 20px;
    }

    .rightMobile {
        display: none;
    }

    .showMenu {
        position: static;
        flex-direction: row;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }
    
    .right a {
        cursor: pointer;
    }
    
    .component a {
        text-decoration: none;
        font-size: calc(12px + 0.5vw); 
        line-height: 1;
        text-align: center;
    }

    .component a {
        font-size: 15px; 
    }
}