 /* Mobile Screen */
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.component {
    gap: 10px;
    margin-top: 60px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    overflow-y: auto;
    
}

.header {
    font-size: min(4vw, 18px);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    
}

.image {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: cover;
}

.card {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    background-color: white;
    gap: 10px;
    text-align: center;
    font-size: min(4vw, 18px);
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

/* Larger mobile screens */
@media screen and (min-width: 407px) and (max-width: 479px) {

    .component {
        display: flex;
        justify-content: center;
        align-items: none;
        flex-direction: column;
        gap: 10px;
    }

    .card {
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: var(--box-shadow);
        background-color: white;
        gap: 10px;
        text-align: center;
    }

    .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }


}

/* Tablet and above */
@media screen and (min-width: 480px) {

    .component {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .card {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        font-size: 100%;
        overflow-y: auto;
    }

    .header, .description {
        text-align: center;
    }

}