/* General Styles */
.container {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background: whitesmoke
}

label {
    font-size: clamp(1rem, 1rem + 1vw, 1rem);
}

.buttons label {
    font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

.component {
    gap: 10px;
    margin-top: 60px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    overflow-y: auto;
}

.content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 1rem;
    color: #555;
}

.description li {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.buttons div {
    cursor: pointer;
    scale: 1;
    transition: scale 0.2s ease-in, background-color 0.2s ease-in;
    padding: 5px 10px;
    border-radius: 5px;
}

.buttons div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    scale: 1.05;
}

/* Larger screens */
@media screen and (min-width: 480px) {
    .content {
        width: 80%;
    }
}